.profile-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:400px;
    width: 400px;
    max-height: 60%;
    max-width: 60%;
    background-color: white;
    border-radius: 7%;
    box-shadow: 24;
    display: flex;
    flex-direction: column;
}

.close-btn {
    height: 50px;
    max-height: 60px;
    float: right;
    margin-right: 5%;
}

.modal-header {
    width: 100%;
    display: flex;
    //justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    margin-top: 6%;
}

.margin-header-text {
    margin-left: 6%;
    font-size: 2.125rem;
}

.image-upload-space {
    padding: 20px;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hover-color {
    background-color: #00000000;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    /* 마우스 오버 시 배경색 변경 */
    &:hover {
        background-color: #dac3ff;
    }
}

.user-profile-back {
    width: 105%;
    height: 105%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 160px;
 }

.flex-direction-space {
    display: flex;
    flex-direction: column;
}

.modal-element {
    margin-left: 6%;
    margin-right: 6%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}