<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.chb.chb.domain.couple.CoupleMapper">


    <insert id="applyBeCouple"
            parameterType="io.chb.chb.domain.couple.CoupleDTO">
        INSERT INTO BE_COUPLE_WAIT_STATUS (
                                           OWN_USER_ID
                                         , OTHER_USER_ID
                                         , BE_COUPLE_DATE
                                          )
        VALUES (
                #{userId}
              , #{otherUserId}
              , #{beCoupleDate}
               )
    </insert>

    <insert id="createCoupleAccount"
            parameterType="io.chb.chb.domain.couple.CoupleDTO">
        INSERT INTO COUPLE_INFO (
                                 USER_ID
                               , COUPLE_ID
                               , BE_COUPLE_DATE
                               , COUPLE_ING_DAY
                               , LOAD_DTM
                                )
        SELECT USER_ID
             , CONCAT(#{userId}, 'LOVE', #{otherUserId})                                                        AS COUPLE_ID
             , (SELECT BE_COUPLE_DATE FROM BE_COUPLE_WAIT_STATUS WHERE OTHER_USER_ID = #{userId})               AS BE_COUPLE_DATE
             , DATEDIFF(current_date
                     , (SELECT BE_COUPLE_DATE FROM BE_COUPLE_WAIT_STATUS WHERE OTHER_USER_ID = #{userId})) + 1  AS COUPLE_ING_DAY
             , CURRENT_TIMESTAMP
          FROM USER_INFO
         WHERE 1 = 1
          AND USER_ID IN (#{userId}, #{otherUserId})
    </insert>



    <update id="updateWaitStatusBeCouple"
            parameterType="io.chb.chb.domain.couple.CoupleDTO">
        UPDATE BE_COUPLE_WAIT_STATUS
           SET OTHER_USER_ACCEPT_YN = 1
         WHERE 1 = 1
           AND OTHER_USER_ID    = #{userId}
           AND OWN_USER_ID      = #{otherUserId}
    </update>

    <update id="updateUserBeCouple"
            parameterType="io.chb.chb.domain.couple.CoupleDTO">
        UPDATE USER_INFO
           SET BE_COUPLE_YN = 1
         WHERE 1 = 1
           AND USER_ID IN (#{userId}, #{otherUserId})
    </update>



</mapper>