<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.chb.chb.domain.couple.CoupleMapper">

    <select id="getCoupleStatusByUserId"
            parameterType="java.lang.String"
            resultType="io.chb.chb.domain.couple.CoupleDTO">
        SELECT OWN_USER_ID      AS USER_ID
             , OTHER_USER_ID
             , OWN_USER_ACCEPT_YN
             , OTHER_USER_ACCEPT_YN
        FROM BE_COUPLE_WAIT_STATUS
        WHERE OWN_USER_ID = #{userId}
    </select>



    <insert id="applyBeCouple"
            parameterType="io.chb.chb.domain.couple.CoupleDTO">
        INSERT INTO BE_COUPLE_WAIT_STATUS (
                                           OWN_USER_ID
                                         , OTHER_USER_ID
                                         , BE_COUPLE_DATE
                                          )
        VALUES (
                #{userId}
              , #{otherUserId}
              , #{beCoupleDate}
               )
    </insert>

    <insert id="createNewCouple"
            parameterType="io.chb.chb.domain.couple.CoupleDTO">
        INSERT INTO COUPLE_INFO (
                                 USER_ID
                               , COUPLE_ID
                               , BE_COUPLE_DATE
                               , COUPLE_ING_DATE
                               , LOAD_DTM
                                )
        VALUES (
                #{ownUserId}
              , CONCAT(#{ownUserId}, '_', #{otherUserId})
               )
    </insert>



    <update id="updateUserStatus"
            parameterType="io.chb.chb.domain.couple.CoupleDTO">
        UPDATE BE_COUPLE_WAIT_STATUS
           SET OTHER_USER_ACCEPT_YN = 1
         WHERE 1 = 1
           AND OWN_USER_ID          = #{ownUserId}
           AND OTHER_USER_ID        = #{otherUserId}
    </update>

    <update id="updateUserCoupleYn"
            parameterType="io.chb.chb.domain.couple.CoupleDTO">
        UPDATE USER_INFO
           SET BE_COUPLE_YN = 1
         WHERE 1 = 1
           AND USER_ID      = #{ownUserId}
    </update>



</mapper>